<div class="login-container">
  <div routerLink="/home" class="logo">ChatAI</div>
  <!-- smooth toster notification message goes here -->
  <div class="notification"
    [ngClass]="{ show: showNotification, success: notificationType === 'success', error: notificationType === 'error', warning: notificationType === 'warning', info: notificationType === 'info' }">
    <span id="notificationText">{{ notificationMessage }}</span>
    <div class="notification-progress"></div>
  </div>

  <div class="login-card">
    <h2 class="login-title">Wellcome Back</h2>
    <form [formGroup]="loginForm">
      <input formControlName="email" type="email" name="email" autocomplete="email" placeholder="Email"
        class="login-input" required />
      <div class="password-field">
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" name="password"
          autocomplete="current-password" placeholder="Password" class="login-input" required />
        <button type="button" class="eye-btn" (click)="togglePasswordVisibility()" tabindex="-1">
          <span *ngIf="!showPassword">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M2 2L22 22" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path
                  d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
          </span>
          <span *ngIf="showPassword">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#ffffff" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
                <circle cx="12" cy="12" r="3" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                </circle>
              </g>
            </svg>
          </span>
        </button>
      </div>
      <button type="submit" (click)="onSubmit()" class="login-button login-button-primary">Login</button>
    </form>
    <div class="login-links">
      <a routerLink="/signup" class="login-link">Create Account</a>
      <a class="login-link">Forgot Password?</a>
    </div>
  </div>
</div>